div {
  float: left;
  padding: 10px;
  margin-top: 5%;
}
main {
  border-bottom: 1px solid black;

}

#shop {
  font-weight: bold;
  font-size: 20px;
}
h1 {
  color: green;
}

a {
  text-decoration: none;
}
