div {
  display: inline-block;
  margin-left: 150px;
}
nav {
  display:inline-block;
  float: left;
  margin: 0;
}
nav ul {
  margin-left: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding: 1em;
}
main {

}
