nav {
  display:inline-block;
  float: left;
  margin-right: 10px;
  border-right: solid;
  width: 20%;
}
nav ul {
  margin-left: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding: 1em;
}
