* {
  box-sizing: border-box;
}
 a {
   text-decoration: none;
 }
#top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

 main {
   margin-left: 25%;
   margin-right: 25%;
   text-align: center;
}

main > a {
  display: inline-block;
  padding: 10px 10px 10px 10px;

}
main > p {
  text-align: justify;
}
footer {
  display: block;
  box-sizing: content-box;
  float: left;
  clear: left;
}
#imgleft {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
}

#imgright {
  display: inline-flex;
  justify-content: flex-start;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%
}

main {
  }
